body {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#key {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 5px;
}
button {
  width: 100px;
  height: 100px;
  background-color: rgb(12, 54, 81);
  color: aliceblue;
  font-size: 3rem;
  font-weight: bold;
  border: none;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  background-color: rgb(69, 69, 138);
  color: aliceblue;
  border: none;
}
.culcalator {
  background-color: rgb(30, 18, 142);
  border-radius: 15px;
  max-width: 400px;
  padding: 20%;
}
button:hover {
  background-color: aqua;
}
button:active {
  background-color: rgb(113, 146, 146);
}
.operator {
  background-color: rgba(255, 183, 0, 0.825);
}
